<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="text-center mt-24">
    <div class="flex items-center justify-center">
      <svg fill="none" viewBox="0 0 24 24" class="w-12 h-12 text-blue-500" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"/>
      </svg>
    </div>
    <h2 class="text-4xl tracking-tight">
      Sign in into your account
    </h2>
    <% if devise_mapping.registerable? && controller_name != 'registrations' %>
      <span class="text-sm">or
        <%= link_to "register a new account", new_registration_path(resource_name), class: "text-blue-500" %>
      </span>
    <% end %>
  </div>
  <div class="flex justify-center my-2 mx-4 md:mx-0">
    <form class="w-full max-w-xl bg-white rounded-lg shadow-md p-6">
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-full px-3 mb-6">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for='Password'><%= f.label :email %></label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none" %>
        </div>
        <div class="w-full md:w-full px-3 mb-6">
          <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for='Password'><%= f.label :password %></label>
          <%= f.password_field :password, autocomplete: "current-password", class: "appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none" %>
        </div>
        <div class="w-full flex items-center justify-between px-3 mb-3 ">
          <label for="remember" class="flex items-center w-1/2">
            <% if devise_mapping.rememberable? %>
              <%= f.check_box :remember_me, class: "mr-1 bg-white shadow" %>
              <%= f.label :remember_me, class: "text-sm text-gray-700 pt-1" %>
            <% end %>
          </label>
          <div class="w-1/2 text-right">
            <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-blue-500 text-sm tracking-tight" %>
            <% end %>
          </div>
        </div>
        <div class="w-full md:w-full px-3 mb-6">
          <button class="appearance-none block w-full bg-nittai_teal text-gray-100 font-bold border border-gray-200 rounded-lg py-3 px-3 leading-tight hover:bg-blue-500 focus:outline-none focus:bg-white focus:border-gray-500"><%= f.submit "Log in", class: "bg-transparent" %></button>
        </div>
        <%# if devise_mapping.omniauthable? %>
<!--          <div class="mx-auto -mb-6 pb-1">-->
<!--            <span class="text-center text-xs text-gray-700">or sign up with</span>-->
<!--          </div>-->
<!--          <div class="flex items-center w-full mt-2">-->
<!--            <div class="w-full md:w-1/2 px-3 pt-4 mx-2">-->
              <%#= link_to omniauth_authorize_path(resource_name, :facebook), method: :post do %>
<!--                <button class='appearance-none flex items-center justify-center block w-full bg-gray-100 text-gray-700 shadow border border-gray-500 rounded-lg py-3 px-3 leading-tight hover:bg-gray-200 hover:text-gray-700 focus:outline-none'>-->
<!--                  <svg class="h-6 w-6 fill-current text-gray-700" viewBox="0 0 512 512">-->
<!--                    <path d="M455.27,32H56.73A24.74,24.74,0,0,0,32,56.73V455.27A24.74,24.74,0,0,0,56.73,480H256V304H202.45V240H256V189c0-57.86,40.13-89.36,91.82-89.36,24.73,0,51.33,1.86,57.51,2.68v60.43H364.15c-28.12,0-33.48,13.3-33.48,32.9V240h67l-8.75,64H330.67V480h124.6A24.74,24.74,0,0,0,480,455.27V56.73A24.74,24.74,0,0,0,455.27,32Z"/>-->
<!--                  </svg>-->
<!--                </button>-->
              <%# end %>
<!--            </div>-->
<!--            <div class="w-full md:w-1/2 px-3 pt-4 mx-2">-->
              <%#= link_to omniauth_authorize_path(resource_name, :google_oauth2), method: :post do %>
<!--                <button class="appearance-none flex items-center justify-center block w-full bg-gray-100 text-gray-700 shadow border border-gray-500 rounded-lg py-3 px-3 leading-tight hover:bg-gray-200 hover:text-gray-700 focus:outline-none">-->
<!--                  <svg class="h-6 w-6 fill-current text-gray-700" viewBox="0 0 24 24">-->
<!--                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0C5.372 0 0 5.373 0 12s5.372 12 12 12c6.627 0 12-5.373 12-12S18.627 0 12 0zm.14 19.018c-3.868 0-7-3.14-7-7.018c0-3.878 3.132-7.018 7-7.018c1.89 0 3.47.697 4.682 1.829l-1.974 1.978v-.004c-.735-.702-1.667-1.062-2.708-1.062c-2.31 0-4.187 1.956-4.187 4.273c0 2.315 1.877 4.277 4.187 4.277c2.096 0 3.522-1.202 3.816-2.852H12.14v-2.737h6.585c.088.47.135.96.135 1.474c0 4.01-2.677 6.86-6.72 6.86z" fill="currentColor"/>-->
<!--                  </svg>-->
<!--                </button>-->
              <%# end %>
<!--            </div>-->
<!--          </div>-->
        <%# end %>
      </div>
    </form>
  </div>
<% end %>