<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title_ja %>
</p>

<p>
  <strong>Content:</strong>
  <%= toc(@article.content_ja) %>
  <%= markdown(@article.content_ja) %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
