<% set_meta_tags title: @article.locale_judge_title(@locale), description: markdown(@article.locale_judge_content(@locale)).gsub(/<("[^"]*"|'[^']*'|[^'">])*>/, ""), og: { title: @article.locale_judge_title(@locale), image: @article.title_image.url } %>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">
<!--Container-->
<div class="container w-full md:max-w-3xl mx-auto pt-8">

  <div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">

    <!--Title-->
    <div class="font-sans">
      <% if current_user&.admin? && current_user == @article.user %>
        <%= link_to 'Edit', edit_article_path(@article) %>
        <%= link_to 'Destroy', article_path(@article), method: :delete, data: {confirm: "本当に削除しますか？"} %>
      <% end %>
      <% if @article.title_image.present? %>
        <%= image_tag @article.title_image.url %>
      <% end %>
      <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-2xl md:text-3xl">
        <%= @article.locale_judge_title(@locale) %>
      </h1>
      <p class="text-lg md:text-xl font-normal text-red-700">
        <%= @article.display_translate_caution(@locale) %>
      </p>
      <p class="text-sm md:text-base font-normal text-gray-600">
        <time datetime="<%= @article.created_at %>">
          <%= I18n.l(@article.created_at.in_time_zone('Asia/Tokyo'), format: :long) %>
        </time>
      </p>
      <p class="text-sm md:text-base font-normal text-gray-600">
        <% if @article.place&.country == "japan" %>
          <%= "日本 #{@article.place&.prefecture_japan&.name}" %>
        <% elsif @article.place&.country == "taiwan" %>
          <%= "台灣 #{@article.place&.prefecture_taiwan&.name}" %>
        <% end %>
      </p>
    </div>

    <div class="markdown">
      <%= markdown(@article.locale_judge_content(@locale)) %>
    </div>
  </div>

  <br>

  <!--Divider-->
  <hr class="border-b-2 border-gray-400 mb-1 mx-4">

  <!--Author-->
  <%= render 'author', user: @user %>
  <!--/Author-->

  <!--Divider-->
  <hr class="border-b-2 border-gray-400 mb-8 mx-4">

  <!--Next & Prev Links-->
  <!--  <div class="font-sans flex justify-between content-center px-4 pb-12">-->
  <!--    <div class="text-left">-->
  <!--      <span class="text-xs md:text-sm font-normal text-gray-600">&lt; Previous Post</span><br>-->
  <!--      <p><a href="#" class="break-normal text-base md:text-sm text-green-500 font-bold no-underline hover:underline">Blog-->
  <!--        title</a></p>-->
  <!--    </div>-->
  <!--    <div class="text-right">-->
  <!--      <span class="text-xs md:text-sm font-normal text-gray-600">Next Post &gt;</span><br>-->
  <!--      <p><a href="#" class="break-normal text-base md:text-sm text-green-500 font-bold no-underline hover:underline">Blog-->
  <!--        title</a></p>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--/Next & Prev Links-->

</div>
<!--/container-->
</body>
