<h1>プロフィール編集</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label "表示名設定して下さい" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label "自己紹介" %>
    <%= form.text_field :self_introduction %>
  </div>
  <div>
    <%= form.label "Native Language" %>
    <%= form.select :native_language, User.native_languages.keys %>
  </div>
  <div>
    <%= form.label "avator" %>
    <%= form.file_field :avatar %>
    <% if @user.avatar.present? %>
      <%= image_tag @user.avatar.url, class: "w-20 h-20 rounded-full mr-4" %>
    <% end %>
  </div>
  <div><%= form.submit "保存" %></div>
<% end %>