<% if user_signed_in? && @user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_path(current_user) %></p>
  <p><%= link_to "新規記事作成", new_article_path %></p>
<% end %>

<div class="pt-20 pb-10">
  <div class="container mx-auto shadow-lg rounded-2xl w-full bg-white dark:bg-gray-800">
    <div class="flex flex-col items-center justify-center p-4 -mt-16">
      <a href="#" class="block relative">
        <%= image_tag @user.avatar.url, class: "mx-auto object-cover rounded-full h-16 w-16  border-2 border-white dark:border-gray-800" if @user.avatar.present? %>
      </a>
      <p class="text-gray-800 dark:text-white text-xl font-medium mt-2">
        <%= @user&.name %>
      </p>
      <p class="text-gray-400 text-xs mb-4">
        <%= @user&.native_language %>
      </p>
      <span class="flex mb-4 justify-center">
      <% if @user.facebook.present? %>
        <a href=<%= @user.facebook %> class="text-gray-500">
          <i class="fab fa-facebook fa-lg"></i>
        </a>
      <% end %>
      <% if @user.twitter.present? %>
        <a href=<%= @user.twitter %> class="ml-3 text-gray-500">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
      <% end %>
      <% if @user.instagram.present? %>
        <a href=<%= @user.instagram %> class="ml-3 text-gray-500">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
      <% end %>
      <% if @user.youtube.present? %>
        <a href=<%= @user.youtube %> class="ml-3 text-gray-500">
          <i class="fab fa-youtube"></i>
        </a>
      <% end %>
      <% if @user.amazon.present? %>
        <a href=<%= @user.amazon %> class="ml-3 text-gray-500">
            <i class="fab fa-amazon fa-lg"></i>
        </a>
      <% end %>
    </span>
      <p class="text-xs p-2 bg-nittai_teal text-white px-4 rounded-full">
        <%= @user&.self_introduction %>
      </p>
      <p class="pt-2 text-sm text-gray-600 dark:text-gray-200">
        Articles
      </p>
      <p class="text-black dark:text-white font-bold">
        <%= @user&.articles&.published&.visible&.size %>
      </p>
    </div>
  </div>
</div>

<%= render 'user_index', articles: @articles %>