<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/notice' %>
    <%= render 'layouts/alert' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
