<!DOCTYPE html>
<html>
  <head>
    <title>BlogJt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <% stylesheet_link_tag  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% I18n.available_locales.reject{|l| l == I18n.locale}.each do |locale| %>
    <%= link_to(locale, i18n_url_for(params.permit.merge(locale: locale))) %>
    <% end %>
    <%= yield %>
  </body>
</html>
