<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2561919805541187"
              crossorigin="anonymous"></script>
    <% end %>
    <%= display_meta_tags(default_meta_tags).force_encoding("UTF-8") %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/notice' %>
    <%= render 'layouts/alert' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
