<!DOCTYPE html>
<html>
  <head>
    <title>BlogJt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% I18n.available_locales.reject{|l| l == I18n.locale}.each do |locale| %>
    <%= link_to(locale, i18n_url_for(params.permit.merge(locale: locale))) %>
    <% end %>
    <%= yield %>
  </body>
</html>
